body {
  background-color: aqua;
}


.timer {
  text-align: center;
  margin-top: 50px;
}

#timer-display {
  font-size: 48px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: pink;
  border-end-end-radius: 120px;
}

audio {
  display: none;
}

